* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Alatsi", serif;
    background-color: #1a1a1a;
    color: white;
  }
  
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .leftBox {
    width: 40%;
    padding-Left: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .mainBox{
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
.box{
    font-size: 65px;
    font-weight: 900;
    line-height: 1.5;
    display: flex;
    align-items:baseline;
      gap: 5px;
    /* justify-content: center; */
    text-align: right;
  }
  
  .box1 {
    color: #ff99cc;
  }
  
  .box2 {
    color: #99ccff;
  }
  
  .box3 {
    color: #99ffcc;
  }

  i{
    font-size: 15px;
  }
  
  .leftBox p {
    font-size: 20px;
    color: #cccccc;
  }
  
  button {
    padding: 15px 20px;
    background-color: white;
    color: #1a1a1a;
    border: none;
    max-width: 200px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .rightBox {
    width: 55%;
  }

  .image{
    min-height: 120px;
    height: 150px;
    weight: 70px;
    max-weight: 70px;
    /* border-radius: 25px; */
  }

  
  .imageCard {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  

  @media (max-width: 780px) {
    .imageCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
      }

      .mainContainer {
        margin-top:30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        gap: 35px;
      }

      .leftBox {
        width: 90%;
        padding-Left: 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      .box{
        display: flex;
        background-color: #fff;
        weight: 90vw;
        justify-content: flex-wrap;
      }

      .image{
        height: fit-content;
        min-weight: 30vw;
      }

      .rightBox{
        background-color: #555;
        width: 90vw;
      }
      .imageCard{
        background-color: #555;
        width: 90vw;
      }
  }
  
  @media (max-width: 768px) {
    .imageCard {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .imageCard {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  
